<?xml version="1.0"?>


<config>
    <global>
        <models>
            <PzMagento>
                <class>Mage_PzMagento_Model</class>
            </PzMagento>
        </models>
    </global>
    <frontend>        
        <routers>
            <PzMagento>
                <use>standard</use>
                <args>
                    <module>Mage_PzMagento</module>
                    <frontName>PzMagento</frontName>
                </args>
            </PzMagento>
        </routers>
	<translate>
            <modules>
                <Mage_PzMagento>
                    <files>
                        <default>Mage_PzMagento.csv</default>
                    </files>
                </Mage_PzMagento>
            </modules>
        </translate>        
    </frontend>
    <default>
        <payment>
            <PzMagento>
                <active>1</active>
                <model>PzMagento/method_PzMagento</model>
                <order_status>1</order_status>
		<payment_success_status>2</payment_success_status>
                <title>PzMagento</title>
				<allowspecific>0</allowspecific>
            </PzMagento>
         </payment>
    </default>
	<global>
	 <models>
            <PzMagento>
                <class>Mage_PzMagento_Model</class>
                <resourceModel>PzMagento_mysql4</resourceModel>
            </PzMagento>
            <PzMagento_mysql4>
                <class>Mage_PzMagento_Model_Mysql4</class>
                <entities>
                    <PzMagento>
                        <table>PzMagento</table>
                    </PzMagento>
                </entities>
            </PzMagento_mysql4>
        </models>
	   <resources>
			<PzMagento_setup>
				<setup>
					<module>Mage_PzMagento</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</PzMagento_setup>
			<PzMagento_write>
				<connection>
					<use>core_write</use>
				</connection>
			</PzMagento_write>
			<PzMagento_read>
				<connection>
					<use>core_read</use>
				</connection>
			</PzMagento_read>
		</resources>
    </global>
</config>